body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8efde;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f7f304;;
    color: #020202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1ef62;
}

.cadastrar {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #141414;
    text-decoration: none;
}

.cadastrar:hover {
    text-decoration: underline;
}
